@tailwind base;
@tailwind components;
@tailwind utilities;

.radio {
  accent-color: #812b75;
  width: 15px;
  height: 15px;
}
.check {
  accent-color: #89bad8;
  width: 20px;
  height: 20px;
}

.gradient {
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(
      to right,
      #812b75 18.9%,
      #89bad8 57.9%,
      #35799f 100%
    )
    1;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgba(107, 114, 128, 0.7); /* Tailwind color gray-500 */
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: rgba(107, 114, 128, 0.9); /* Tailwind color gray-500 */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: rgba(209, 213, 219, 0.2); /* Tailwind color gray-300 */
}

/* styles/globals.css o el archivo CSS correspondiente */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.border-gradient-animated {
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, #812b75, #89bad8, #35799f) 1;
  border-radius: 50%;
}
