.link {
  span {
    display: none;
  }
}

h1 {
  display: none;
}

.text__doctor {
  display: none;
}

@media (min-width: 1024px) {
  .navbar {
    transition: all .5s ;
    &:hover {
      width: 325px;
      div {
        main {
          .link {
            justify-content: start;
            border-bottom: .25px solid white;
            padding: 0 0 20px 40px ;
            align-items: center;
            span {
              display: block;
              font-size: 15px;
            }
          }
        }

        header {
          h1 {
            display: block;
          }
        }

        .text__doctor {
          display: block;
        }
      }
    }
  }
}
